body{
    width: 100%;
    height: 100%;
    align-items: center;
    position: absolute;
    padding: 1%;
}

label{
    display: flex;
    position: relative;
    align-items: center;
    width: 70%;
    height: 10%;
    margin-bottom: 25%;
    padding: 1%;
    margin: 5%;
    margin-left: 10%;
}


tr{
    display: inline;
    margin: 10px;
}

div{
    display: inline;
}

label img{
    box-sizing: border-box;
    padding: 1%;
    margin: 1%;
    width: 15%;
    height: 20%;
    animation: rodar 1s infinite alternate;
}

.card{
    margin: 20%;
    width: 55%;
    height: 50%;
    position: relative;
    padding: 0;
    background: #555;
    box-shadow: -20px 10px 20px 8px gray;
    border: none;
    color: white;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.card img{
    padding: 2px;
    width: 150px;
    height: 220px;
    align-items: center;
}

.card span:first-of-type{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, gold);
    animation: animar1 2s linear infinite;
}

@keyframes animar1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.card span:nth-of-type(2){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, gold);
    animation: animar2 2s linear infinite;
    animation-delay: 1s
}

@keyframes animar2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.card span:nth-of-type(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, gold);
    animation: animar3 2s linear infinite;
}

@keyframes animar3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.card span:last-of-type{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, gold);
    animation: animar4 2s linear infinite;
    animation-delay: 1s
}

@keyframes animar4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

@keyframes rodar{
    from{
        transform: translateX(0px);
    }
    to{
        width: 75px;
        height: 75px;
        transform: translateX(50px);

    }
}

tr .cartao{
    animation: estourar 3s linear infinite;
}

@keyframes estourar{
    0%{
        width: 150px;
    }
    50%{
        width: 170px;

    }
}
