 html, body{
    margin: 0;
    margin-top: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.homeheader{
    display: block;
    background-image: url("image/Fundo Home.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 20%;
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    overflow: hidden;
    animation: animar 5s infinite alternate;
}

.logo{
    margin: 0;
    width: 40%;
    height: 10%;
}

.nav{
    margin-top: 0px;
    height: 0px;

}

.iconesNav{
    display: inline;
    margin: 5px;
    width: 20px;
    height: 25px;
}

form{
    margin-top: 4%;
}

@keyframes animar{
    0%{
        margin-left: 50%;
    }
    25% {
        margin-top: -25%;
    }
    50%{
        margin-top: 25%;
    }
    75%{
        margin-left: 0%;
    }
    100%{
        margin-left:25%
    }
}