{% load static %}

<nav class="navbar bg-body-tertiary fixed-top nav">
  <script src="{% static 'js/custom.js' %}"></script>
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'Estoque:homepage' %}">
      <img src="{% static 'image/Logo.jpg' %}" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="{% static 'image/Logo.jpg' %}" class="logo" alt="Controle de Estoque JL"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Estoque:novo_item' %}">Novo Item <img src="{% static 'css/image/registro.png' %}" class="iconesNav"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Estoque:entradas' %}">Entradas <img src="{% static 'css/image/entrada.png' %}" class="iconesNav"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Estoque:saidas' %}">Saídas <img src="{% static 'css/image/saida.png' %}" class="iconesNav"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Estoque:estoques' %}">Estoque <img src="{% static 'css/image/estoque.png' %}" class="iconesNav"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Estoque:status' %}">Status Estoque <img src="{% static 'css/image/caixa.png' %}" class="iconesNav"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>